@keyframes show {
	0% {
	  opacity: 0;
	  transform: translateY(-10px);
	}
	100% {
	  opacity: 1;
	  transform: translateY(0);
	}
}

*{
    box-sizing: border-box;
    font-family: 'Montserrat';
}


body,html{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #ecf0f1;
}

input{
    outline: 0;
}

.loader{
    background-color:#ecf0f1;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    flex-direction: column;
}

.loader svg path, .loader
svg rect{
  fill: #FF6700;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

header{
    margin-top:5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header svg {
    min-width:50px ;
    min-height: 50px;
    max-width: 100px;
    max-height: 100px;
}
.search{
    justify-content: center;
    display: flex;
    width:90%;
}


.search__bar {
	box-shadow: #bdc3c7 0px 0.4rem 1.5rem 0px;
	background-color: #dde4e9;
	border-radius: 0.6rem;
	padding: 0px 2.2rem;
    min-height: 3rem;
    width:50%;
	border: none;
	font-size: 15px;
	letter-spacing: 0px;
	align-self: flex-end;
	transition: all .5s;
	margin-top: 20px;
    white-space: nowrap;
    font-weight: BOLD;
    color:#92999c;
    margin-bottom:50px;
    transition: all .5s;
    margin-top:100px;
}

.search__bar:hover{
    box-shadow: #bdc3c7 0px 0rem 1.5rem 0px;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:51%;
}

.icons__box{
    background-color:#dde4e9;
    padding:20px 20px;
    transition: all .5s;
    width:110px;
    height: 110px;
    border-radius: 10px;
    margin:10px;
}

a{
    text-decoration: none;
    color:black;
}

li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    font-weight: bold;
    text-transform: capitalize;
    margin:10px;
    cursor: pointer;
}

.icons__box:hover{
    box-shadow: #bdc3c7 0px 0.4rem 1.5rem 0px;
}

li img{
    width:30px;
    height: 30px;
}

@media only screen and (max-width:1050px) {
    .icons{
        width:100%;
    }
		.search__bar{
				width:90%;
		}
}
@media only screen and (max-width:500px) {
    .icons{
        width:90%;
    }
    .icons__box{
        padding: 10px 15px;
    }
    .search__bar{
        width:90%;
    }
    header svg {
        width:50px;
        height: 50px;
    }
}

@media only screen and (max-height:600px){
    header svg{
        margin-top:100px;
    }
    .search__bar{
        margin-top:600px;
    }
}